<div layout="row" layout-sm="column" layout-wrap layout-align="center start" style="overflow: auto; background-color: #F2F2F2; height: 100%;">

  <md-card ng-repeat="task in vm.getToDo">
    <md-card-content style="padding-bottom: 8px">
      <div layout="row" layout-align="center center">
        <div flex="80">
          <p class="md-title" style="margin: 0px 0px; ">{{task.title}}</p >
        </div>
      </div>
      <p>{{task.description}} </p>
      <md-divider></md-divider>

      <div layout="row" layout-align="space-between center">
        <md-checkbox ng-model="task.done" aria-label="Estado" style="margin-top: auto; margin-bottom: auto;">
          Estado: {{ task.done }}
        </md-checkbox>
        <div layout="row" layout-align="end">
          <md-button ng-click="vm.editToDo(task.id)">Editar</md-button>
          <md-button>Eliminar</md-button>
        </div>
      </div>
    </md-card-content>
  </md-card>

</div>
